<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.po.User">
	<resultMap type="com.cms.po.User" id="userMap">
		<id column="id" property="id" />
		<result column="username" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>
	<select id="select" resultMap="userMap">
		SELECT * FROM T_USER	
	</select>
</mapper>